<div class="container-fluid">
    <div class="row text-center justify-content-center">
        <h2>Logged Vehicles</h2>
        <table class="table table-hover table-dark table-responsive">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Loading Date</th>
                    <th>Vehicle Number</th>
                    <th>Loading Point</th>
                    <th>Un-Loading Point</th>
                    <th>Quantity</th>
                    <th>Edit</th>
                    <th>Confirm</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody class="table-light">
                <tr *ngFor="let list of veh let i=index">
                    <th>{{i+1}}</th>
                    <th>{{list.Date}}</th>
                    <th>{{list.VehicleNumber}}</th>
                    <th>{{list.LoadingPoint}}</th>
                    <th>{{list.UnloadingPoint}}</th>
                    <th>{{list.Quantity}}</th>
                    <th><a href="">Edit</a></th>
                    <th><a href="">Confirm</a></th>
                    <th><a href="">Delete</a></th>
                </tr>
            </tbody>
        </table>
        <th><a routerLink="/dataBook" class="btn btn-warning  float-end">Logg Another vehicle details </a></th>
    </div>
</div>
<!-- Git Clone check -->