<div class="container">
<div class="row">
    <div  class="btn btn-primary float-start">Log Vehicle Details</div>
    <div><a 
    routerLink="/loggedvehicles" class="btn btn-warning  float-end">View Logged vehicle details
    </a>    
    </div>

    <form (ngSubmit)="addLog()" #inputs="ngForm">
            <h3>Log Loaded vehicle details</h3>
            <label>Loading Date</label>
            <input type="Date" class="form-control" ngModel name="LoadingDate" required>
            <label>Vehicle Number</label>
            <input type="text" class="form-control" ngModel name="VehicleNumber" required>
            <label>Quantity</label>
            <input type="number" class="form-control" ngModel name="Quantity" required>
            <label>Loading Point</label>
            <input type="text" class="form-control" ngModel name="LoadingPoint" required>
            <label>Un-Loading Point</label>
            <input type="text" class="form-control" ngModel name="UnloadingPoint" required>
            <label>Comission</label>
            <input type="number" class="form-control" ngModel name="Comission" required>
            <label>Payment</label>
            <input type="number" class="form-control" ngModel name="Payment" required><br>
            <button type="submit"  class="btn btn-primary">Add vehicle</button>
    </form>
    </div>
</div>
