<div>
    <button routerLink="/dataBook" type="button" class="btn btn-primary btn-lg m-5">
      Data Book
    </button>
    <button routerLink="/admin_one" type="button" class="btn btn-warning btn-lg m-5">
      Admin 1
    </button>
    <button routerLink="/admin_two"type="button" class="btn btn-info btn-lg m-5">
      Admin 2
    </button>
  </div>